{{#extend "layout_default"}}
  {{#content "content"}}
    <section class="hero">
      <div class="grid">
        <div class="hero__inner">
          <h1 class="hero__title">Я заголовок</h1>
          <p class="hero__descr">Блок <code>hero</code> сделан с помощью гибкой функции.</p>
          <p class="hero__descr">{{ data.hero.heroString }}</p>
          <div class="hero__tiles">
            <div class="hero__tile">
              <div class="hero__tile-descr">Иконка из спрайта</div>
              <svg class="hero__icon">
                <use href='img/svgSprite.svg#icon__default'></use>
              </svg>
            </div>
            <div class="hero__tile hero__tile--bg">
              <div class="hero__tile-descr">Иконка из спрайта фоном</div>
            </div>
          </div>
          <p class="hero__descr">
            <button class="hero__trigger">Кликни меня!</button>
          </p>
        </div>
      </div>
    </section>
  {{/content}}
{{/extend}}
