<header class="header">
  <div class="header__inner">
    <svg class="logo header__logo">
      <use href="img/svgSprite.svg#logo__default"></use>
    </svg>
    <button class="header__menu">
      <svg class="burger" width="28" height="28" viewBox="0 0 28 28" fill="none">
        <path class="burger__line burger__line--top" d="M7 8H23C23 8 26 8 26 11C26 14 23 14 23 14H5"></path>
        <path class="burger__line burger__line--middle" d="M5 14H23"></path>
        <path class="burger__line burger__line--bottom" d="M19 20H5C5 20 2 20 2 17C2 14 5 14 5 14H23"></path>
      </svg>
    </button>
  </div>
</header>

